@charset "UTF-8";

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  transition: .3s;
  height:100px;
  background-color: #fff;
}

p{
  height:1200px;
  background-color: #000;
  color: #fff;
  margin: 50px auto;
}
